.film-list {
  margin-left: 15px;
  .van-cell{
    padding: 0;
  }
.film-item{
  .right .buy{
    color: #ff5f16;
    background: #fff;
    border: .0600rem solid #ff5f16;
    border-radius: 2px;
    font-size: .008125rem;
  }
}
  &__loadmore {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    line-height: 50px;
    background: red;
    margin-left: -15px;
  }
}
